body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#chatbox {
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour cacher les éléments dépassant du conteneur */
    overflow-y: auto; /* Défilement vertical automatique */
    max-height: 80vh; /* Limite de la hauteur pour activer le défilement */
}


#chatbox h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: #007bff;
    color: #fff;
}

#chatlog {
    max-height: 300px; /* Limiter la hauteur de la zone de conversation pour faire défiler le contenu */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
    padding: 10px;
}

#chatbox form {
    padding: 10px;
    display: flex;
    align-items: center;
}

#chatbox input[type="text"] {
    flex: 1; /* Prendre autant d'espace que possible */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#chatbox input[type="submit"] {
    display: none; /* Masquer le bouton de soumission */
}

.message {
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 5px;
}

.user-message {
    background-color: #007bff;
    color: #fff;
    text-align: right;
}

.bot-message {
    background-color: #f2f2f2;
    color: #333;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
/* Style pour le message du bot */
#chatlog .bot {
    color: #333; /* Couleur du texte */
    padding: 5px 10px; /* Espacement intérieur */
    margin: 5px 0; /* Marge entre les messages */
    border-radius: 5px; /* Coins arrondis */
    background-color: #f0f0f0; /* Couleur de fond */
}

