body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8a8a8a;
}

#chatbox {
    width: 100%;
    max-width: 600px; /* Augmenter la largeur maximale */
    border: 1px solid #000000;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour cacher les éléments dépassant du conteneur */
    overflow-y: auto; /* Défilement vertical automatique */
    max-height: 80vh; /* Limite de la hauteur pour activer le défilement */
}

#chatbox h2 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: #881b00;
    color: #fff;
}

#chatlog {
    max-height: 400px; /* Augmenter la hauteur maximale */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */
    padding: 10px;
}

#chatbox form {
    padding: 10px;
    display: flex;
    align-items: center;
}

#chatbox input[type="text"] {
    flex: 1; /* Prendre autant d'espace que possible */
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.message {
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 5px;
}

.user-message {
    background-color: #881b00;
    color: #fff;
    text-align: right;
    font-weight: bold; /* Texte en gras pour les messages de l'utilisateur */
    border-radius: 5px;
    margin-bottom: 5px;
}

.bot-message {
    background-color: #cfcfcf;
    color: #333;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Style pour le message du bot */
#chatlog .bot {
    color: #333; /* Couleur du texte */
    padding: 5px 10px; /* Espacement intérieur */
    margin: 5px 0; /* Marge entre les messages */
    border-radius: 5px; /* Coins arrondis */
    background-color: #f0f0f0; /* Couleur de fond */
}

/* Arrière-plan pour le chatbox */
#chatbox {
    background-image: linear-gradient(to bottom, #cfcfcf, #f2f2f2); /* Dégradé de blanc à gris clair */
}

#submitbtn {
    padding: 8px 20px; /* Espacement interne */
    margin-left: 10px; /* Marge à gauche pour l'espacement */
    background-color: #881b00; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur de type pointer au survol */
    transition: background-color 0.3s ease; /* Animation de transition sur la couleur de fond */
}

#submitbtn:hover {
    background-color: #0056b3; /* Nouvelle couleur de fond au survol */
}
